@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>فال حافظ</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/rtl/bootstrap-rtl.css" rel="stylesheet" />
</head>
<body>

    <div class="container rtl" id="app">

        <h1>خوش آمدید</h1>
        <button class="btn btn-primary" v-on:click="sendMessage">
            فال من
        </button>
        <p>{{mesra[0]}} </p>
        <p>{{mesra[1]}}</p>


    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/hafez.json" type="text/javascript" ></script>
    <script>

        function generateRandomNumber(min, max) {

            var random_number = Math.random() * (max - min) + min;
            return Math.floor(random_number);

        }

        var app = new Vue({
            el: "#app",
            data: {
                message: "",
                mesra:["",""],
                shers:[]
            },
            created: function () {
                this.getData();
            },
            methods: {
                sendMessage: function () {
                    //var divan = JSON.parse(hafez);
                    var num = generateRandomNumber(1, 3406);
                    var found = this.shers.find(function (element) {
                        return element.id == num;
                    });

                    this.message = found.beit;
                    this.mesra = this.message.split('*');

                },
                getData: function () {
                    var vm = this;
                    $.ajax({ url: "/hafez.json", method: "GET" })
                        .done(function (data) {
                            vm.shers = data;
                        });
                    
                }
            }
        });

    </script>

</body>
</html>
