@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>فال حافظ</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/rtl/bootstrap-rtl.css" rel="stylesheet" />
</head>
<body style="background-color:rebeccapurple;background-origin:border-box">

    <div class="container rtl text-center" id="app" >
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-light">
                <br />
                <br />
                <h1>فال حافظ</h1>
                <br />
                <button class="btn btn-primary btn-block" v-on:click="sendMessage">
                    فالم بگیر
                </button>
                <br />
                <p>{{mesra[0]}}</p>
                <p>{{mesra[1]}}</p>
            </div>
            <div class="col-sm-4"></div>
        </div>

   


    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/hafez.json" type="text/javascript" ></script>
    <script>

        function generateRandomNumber(min, max) {

            var random_number = Math.random() * (max - min) + min;
            return Math.floor(random_number);

        }

        var app = new Vue({
            el: "#app",
            data: {
                message: "",
                mesra:["",""],
                shers:[]
            },
            created: function () {
                this.getData();
            },
            methods: {
                sendMessage: function () {
                    //var divan = JSON.parse(hafez);
                    var num = generateRandomNumber(1, 3406);
                    var found = this.shers.find(function (element) {
                        return element.id == num;
                    });

                    this.message = found.beit;
                    this.mesra = this.message.split('*');

                },
                getData: function () {
                    var vm = this;
                    $.ajax({ url: "/hafez.json", method: "GET" })
                        .done(function (data) {
                            vm.shers = data;
                        });
                    
                }
            }
        });

    </script>

</body>
</html>
