@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>فال حافظ</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/rtl/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/lib/vue-animate/vue2-animate.css" rel="stylesheet" />

</head>
<body style="background-color:white;background-origin:border-box">

    <div class="container rtl text-center" id="app">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-dark">
                <br />
                <img src="~/hafez.png" />
                <br />

                <transition name="rotate">
                    <img v-show="show" v-bind:src="srcImage" v-on:click="sendMessage" v-on:mousedown="srcImage=butttonShadowImage" v-on:mouseup="srcImage=butttonImage" />
                </transition>

                <br />
                <transition name="fadeUp">
                    <div v-if="showMes" v-on:click="hideMessage">
                     
                        <p>{{mesra[0]}}</p>
                    </div>
                </transition>
                <transition name="fadeDown">
                    <div v-if="showMes" v-on:click="hideMessage">
           
                        <p>{{mesra[1]}}</p>
                    </div>
                </transition>

                <br />
                <br />
                <p class="text-muted">
                    <a href="https://codehaks.com" class="btn btn-block btn-light">codehaks.com</a>
                </p>
            </div>
            <div class="col-sm-4"></div>
        </div>




    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/hafez.json" type="text/javascript"></script>
    <script>

        function generateRandomNumber(min, max) {

            var random_number = Math.random() * (max - min) + min;
            return Math.floor(random_number);

        }

        var app = new Vue({
            el: "#app",
            data: {
                message: "",
                mesra: ["", ""],
                shers: [],
                show: false,
                showMes: false,
                butttonImage: "/button.png",
                butttonShadowImage: "/button-noshadow.png",
                srcImage:""
            },
            created: function () {
                this.getData();
                this.srcImage = this.butttonImage;
            },
            mounted: function () {
                this.show = true;

            },
            methods: {

                sendMessage: function () {

                    this.srcImage = this.butttonImage;
                    this.showMes = !this.showMes;

                    if (this.showMes == true) {
                        
                        var num = generateRandomNumber(1, 3406);
                        var found = this.shers.find(function (element) {
                            return element.id == num;
                        });

                        this.message = found.beit;
                        this.mesra = this.message.split('*');
                        this.showMes = true;
                        
                        this.srcImage = this.butttonShadowImage
                    }
                
                    


                },
                hideMessage: function () {
                    var vm = this;

                    vm.showMes = false;
                    vm.show = true;

                },
                getData: function () {
                    var vm = this;
                    $.ajax({ url: "/hafez.json", method: "GET" })
                        .done(function (data) {
                            vm.shers = data;
                        });

                }
            }
        });

    </script>

</body>
</html>
