@page 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>فال حافظ</title>
    <link href="~/hafez/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/hafez/lib/twitter-bootstrap/rtl/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/hafez/lib/vue-animate/vue2-animate.css" rel="stylesheet" />
    <link rel="manifest" href="/hafez/manifest.json">
    <style>
        .footer {
            position: absolute;
            bottom: 100px;
            width: 100%;
            height: 200px;
            line-height: 200px;
            left: 0;
            right: 0;
        }
    </style>

</head>
<body style="background-color:white;background-origin:border-box">

    <div class="container rtl text-center" id="app">
        <div class="row">

            <div class="col text-dark">
                <br />
                <div class="row align-items-start">
                    <div class="col">

                        <img src="~/hafez/hafez.png" />

                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                        <transition name="fadeUp">
                            <div v-if="showMes" v-on:click="hideMessage">

                                <p style="font-size:4vw;">{{mesra[0]}}</p>
                            </div>

                        </transition>
                        <transition name="fadeDown">
                            <div v-if="showMes" v-on:click="hideMessage">

                                <p style="font-size:4vw;">{{mesra[1]}}</p>
                            </div>

                        </transition>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <transition name="rotate">
                <img v-show="show" v-bind:src="srcImage" v-on:click="sendMessage" v-on:mousedown="srcImage=butttonShadowImage" v-on:mouseup="srcImage=butttonImage" />
            </transition>

            <p class="text-muted">
                <a href="https://codehaks.com" class="btn btn-block btn-default" style="color:blueviolet">کاری از کدهک</a>
            </p>
        </footer>

    </div>
    <script src="~/hafez/lib/jquery/jquery.js"></script>
    <script src="~/hafez/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/hafez/lib/vue/vue.js"></script>
    <script src="~/hafez/hafez.json" type="text/javascript"></script>
    <script>
        window.addEventListener('load', () => {
            if (!('serviceWorker' in navigator)) {
                console.log('SW not supported!');
                return;
            }

            navigator.serviceWorker.register('/sworker.js').then(
                () => {
                    console.log('SW registered!');
                },
                err => {
                    console.error('SW registration failed!', err);
                }
            );
        });
    </script>
    <script>

        function generateRandomNumber(min, max) {

            var random_number = Math.random() * (max - min) + min;
            return Math.floor(random_number);

        }

        var app = new Vue({
            el: "#app",
            data: {
                message: "",
                mesra: ["", ""],
                shers: [],
                show: false,
                showMes: false,
                butttonImage: "/hafez/button.png",
                butttonShadowImage: "/hafez/button-noshadow.png",
                srcImage: ""
            },
            created: function () {
                this.getData();
                this.srcImage = this.butttonImage;
            },
            mounted: function () {
                this.show = true;

            },
            methods: {

                sendMessage: function () {

                    this.srcImage = this.butttonImage;
                    this.showMes = !this.showMes;

                    if (this.showMes == true) {

                        var num = generateRandomNumber(1, 3406);
                        var found = this.shers.find(function (element) {
                            return element.id == num;
                        });

                        this.message = found.beit;
                        this.mesra = this.message.split('*');
                        this.showMes = true;

                        this.srcImage = this.butttonShadowImage
                    }




                },
                hideMessage: function () {
                    var vm = this;

                    vm.showMes = false;
                    vm.show = true;

                },
                getData: function () {
                    var vm = this;
                    $.ajax({ url: "/hafez/hafez.json", method: "GET" })
                        .done(function (data) {
                            vm.shers = data;
                        });

                }
            }
        });

    </script>

</body>
</html>
